@{
    ViewData["Title"] = "LoaiPhong";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Thực tập tốt nghiệp</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Chi nhánh</a>
            </li>
            <li class="active">
                <strong>Loại phòng</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Thông tin loại phòng:</h5>
                <div class="ibox-tools">
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Danh sách loại phòng </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Mã</th>
                                            <th>Tên loại phòng</th>
                                            <th>Mô tả</th>
                                            <th>Giá phòng (đêm)</th>
                                            <th>Số lượng phòng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Phòng đôi</td>
                                            <td>Dành cho 2 đến 4 khách, có 2 giường</td>
                                            <td>400.000</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Phòng đơn</td>
                                            <td>Dành cho 1 khách, có 1 giường</td>
                                            <td>500.000</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Phòng gia đình</td>
                                            <td>Dành cho gia đình từ 3 đến 6 người, có 3 giường đôi</td>
                                            <td>600.000</td>
                                            <td>4</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
                <form method="get" class="form-horizontal">
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nhập thông tin loại phòng</label>

                        <div class="col-sm-10">
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    Tên loại
                                    phòng
                                </span><input type="text" placeholder="Tên loại phòng"
                                              class="form-control">
                            </div>
                            <div class="input-group m-b">
                                <span class="input-group-addon"> Mô tả</span><input type="text" placeholder="Mô tả" class="form-control">
                            </div>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    Giá
                                    phòng
                                </span><input type="text" placeholder="Giá phòng"
                                              class="form-control">
                            </div>
                            <div class="input-group m-b">
                                <span class="input-group-addon">
                                    Số lượng
                                    phòng
                                </span><input type="text" placeholder="Số lượng phòng"
                                              class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="submit">Cancel</button>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>